/**
 * sass/parts/footer/files/footer-menu.scss
 * @package scgolfpanel
 * @author Scott Shealy
 * @version 1.0.0
 * @copyright 2022
**/

#footer-menu {
    // GLOBAL
        margin-top: $margin-sm;
        text-align: center;

    // MOBILE
        @media #{$screen-xs} {} //.COL-XS
        @media #{$screen-sm} {} //.COL-SM
        @media #{$screen-md} {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: $margin-none;
            text-align: right;
        } //.COL-MD
        @media #{$device-mobile} {} //.MOBILE

    // DESKTOP
        @media #{$device-desktop} {} //.DESKTOP
        @media #{$screen-lg} {} //.COL-LG
        @media #{$screen-xl} {} //.COL-XL
        @media #{$screen-xxl} {} //.COL-XXL
        @media #{$content-width-sm} {} //.CONTENT-WIDTH-SM
        @media #{$content-width-lg} {} //.CONTENT-WIDTH-LG

    ul.menu {
        // GLOBAL
            margin: $margin-none;
            padding: $padding-none;
            list-style: none;

        // MOBILE
            @media #{$screen-xs} {} //.COL-XS
            @media #{$screen-sm} {} //.COL-SM
            @media #{$screen-md} {} //.COL-MD
            @media #{$device-mobile} {} //.MOBILE

        // DESKTOP
            @media #{$device-desktop} {} //.DESKTOP
            @media #{$screen-lg} {} //.COL-LG
            @media #{$screen-xl} {} //.COL-XL
            @media #{$screen-xxl} {} //.COL-XXL
            @media #{$content-width-sm} {} //.CONTENT-WIDTH-SM
            @media #{$content-width-lg} {} //.CONTENT-WIDTH-LG

        li {
            // GLOBAL
                margin: 0.25rem $margin-none;

            // MOBILE
                @media #{$screen-xs} {} //.COL-XS
                @media #{$screen-sm} {} //.COL-SM
                @media #{$screen-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$screen-lg} {} //.COL-LG
                @media #{$screen-xl} {} //.COL-XL
                @media #{$screen-xxl} {} //.COL-XXL
                @media #{$content-width-sm} {} //.CONTENT-WIDTH-SM
                @media #{$content-width-lg} {} //.CONTENT-WIDTH-LG

            #{$text-links-all} {
                // GLOBAL
                    color: $color-grayscale-light-12;

                    &:hover {
                        font-weight: 700;
                        color: $color-grayscale-light-9;
                    } //:HOVER

                // MOBILE
                    @media #{$screen-xs} {} //.COL-XS
                    @media #{$screen-sm} {} //.COL-SM
                    @media #{$screen-md} {} //.COL-MD
                    @media #{$device-mobile} {} //.MOBILE

                // DESKTOP
                    @media #{$device-desktop} {} //.DESKTOP
                    @media #{$screen-lg} {} //.COL-LG
                    @media #{$screen-xl} {} //.COL-XL
                    @media #{$screen-xxl} {} //.COL-XXL
                    @media #{$content-width-sm} {} //.CONTENT-WIDTH-SM
                    @media #{$content-width-lg} {} //.CONTENT-WIDTH-LG
            } //.TEXT-LINKS-ALL
            
        } //LI

    } //.MENU
    
} //#FOOTER-MENU