/**
 * sass/pages/sections/rankings.scss
 * @package scgolfpanel
 * @author Scott Shealy
 * @version 1.0.0
 * @copyright 2022
**/

#rankings {
    // GLOBAL
    // MOBILE
        @media #{$screen-xs} {} //.COL-XS
        @media #{$screen-sm} {} //.COL-SM
        @media #{$screen-md} {} //.COL-MD
        @media #{$device-mobile} {} //.MOBILE

    // DESKTOP
        @media #{$device-desktop} {} //.DESKTOP
        @media #{$screen-lg} {} //.COL-LG
        @media #{$screen-xl} {} //.COL-XL
        @media #{$screen-xxl} {} //.COL-XXL
        @media #{$content-width-sm} {} //.CONTENT-WIDTH-SM
        @media #{$content-width-lg} {} //.CONTENT-WIDTH-LG

    .columns {
        // GLOBAL
        // MOBILE
            @media #{$screen-xs} {} //.COL-XS
            @media #{$screen-sm} {} //.COL-SM
            @media #{$screen-md} {} //.COL-MD
            @media #{$device-mobile} {} //.MOBILE

        // DESKTOP
            @media #{$device-desktop} {} //.DESKTOP
            @media #{$screen-lg} {} //.COL-LG
            @media #{$screen-xl} {} //.COL-XL
            @media #{$screen-xxl} {} //.COL-XXL
            @media #{$content-width-sm} {} //.CONTENT-WIDTH-SM
            @media #{$content-width-lg} {} //.CONTENT-WIDTH-LG
        
        &.col-lg-4 {
            // GLOBAL
            // MOBILE
                @media #{$screen-xs} {} //.COL-XS
                @media #{$screen-sm} {} //.COL-SM
                @media #{$screen-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$screen-lg} {
                    width: $grid-4;
                } //.COL-LG
                @media #{$screen-xl} {} //.COL-XL
                @media #{$screen-xxl} {} //.COL-XXL
                @media #{$content-width-sm} {} //.CONTENT-WIDTH-SM
                @media #{$content-width-lg} {} //.CONTENT-WIDTH-LG
        } //.COL-LG-4

        &.col-lg-7 {
            // GLOBAL
            // MOBILE
                @media #{$screen-xs} {} //.COL-XS
                @media #{$screen-sm} {} //.COL-SM
                @media #{$screen-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$screen-lg} {
                    width: $grid-7;
                } //.COL-LG
                @media #{$screen-xl} {} //.COL-XL
                @media #{$screen-xxl} {} //.COL-XXL
                @media #{$content-width-sm} {} //.CONTENT-WIDTH-SM
                @media #{$content-width-lg} {} //.CONTENT-WIDTH-LG
        } //.COL-LG-7

    } //.COLUMNS

    .elementor-widget-text-editor {
        // GLOBAL
        // MOBILE
            @media #{$screen-xs} {} //.COL-XS
            @media #{$screen-sm} {} //.COL-SM
            @media #{$screen-md} {} //.COL-MD
            @media #{$device-mobile} {} //.MOBILE

        // DESKTOP
            @media #{$device-desktop} {} //.DESKTOP
            @media #{$screen-lg} {} //.COL-LG
            @media #{$screen-xl} {} //.COL-XL
            @media #{$screen-xxl} {
                margin-bottom: $margin-sm !important;
            } //.COL-XXL
            @media #{$content-width-sm} {} //.CONTENT-WIDTH-SM
            @media #{$content-width-lg} {} //.CONTENT-WIDTH-LG
    } //.ELEMENTOR-WIDGET-TEXT-EDITOR

    .elementor-widget-button {
        // GLOBAL
        // MOBILE
            @media #{$screen-xs} {} //.COL-XS
            @media #{$screen-sm} {} //.COL-SM
            @media #{$screen-md} {} //.COL-MD
            @media #{$device-mobile} {} //.MOBILE

        // DESKTOP
            @media #{$device-desktop} {} //.DESKTOP
            @media #{$screen-lg} {} //.COL-LG
            @media #{$screen-xl} {} //.COL-XL
            @media #{$screen-xxl} {} //.COL-XXL
            @media #{$content-width-sm} {} //.CONTENT-WIDTH-SM
            @media #{$content-width-lg} {} //.CONTENT-WIDTH-LG

        &.col-xl-6 {
            // GLOBAL
                width: 100.00%;
                align-items: center;
                padding-left: $padding-none;
                padding-right: $padding-none;

            // MOBILE
                @media #{$screen-xs} {} //.COL-XS
                @media #{$screen-sm} {} //.COL-SM
                @media #{$screen-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$screen-lg} {} //.COL-LG
                @media #{$screen-xl} {
                    width: 50.00%;
                    padding-right: $body-columns-gutter * 2.00;
                } //.COL-XL
                @media #{$screen-xxl} {} //.COL-XXL
                @media #{$content-width-sm} {} //.CONTENT-WIDTH-SM
                @media #{$content-width-lg} {} //.CONTENT-WIDTH-LG
        } //.COL-XL-6

    } //.ELEMENTOR-WIDGET-BUTTON

    .elementor-cta--skin-cover {
        // GLOBAL
            margin: $margin-xs auto;
            border: 1px solid $border-color;

        // MOBILE
            @media #{$screen-xs} {} //.COL-XS
            @media #{$screen-sm} {} //.COL-SM
            @media #{$screen-md} {} //.COL-MD
            @media #{$device-mobile} {} //.MOBILE

        // DESKTOP
            @media #{$device-desktop} {} //.DESKTOP
            @media #{$screen-lg} {} //.COL-LG
            @media #{$screen-xl} {} //.COL-XL
            @media #{$screen-xxl} {} //.COL-XXL
            @media #{$content-width-sm} {} //.CONTENT-WIDTH-SM
            @media #{$content-width-lg} {} //.CONTENT-WIDTH-LG

        .elementor-cta__bg-overlay {
            // GLOBAL
                background: rgba($color-grayscale-dark-4, 0.30);
                background-color: linear-gradient(0deg, rgba($color-grayscale-dark-4, 0.75) 0.00%, rgba($color-grayscale-dark-4, 0.60) 50.00%, rgba($color-grayscale-dark-4, 0.50) 100.00%);

            // MOBILE
                @media #{$screen-xs} {} //.COL-XS
                @media #{$screen-sm} {} //.COL-SM
                @media #{$screen-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$screen-lg} {} //.COL-LG
                @media #{$screen-xl} {} //.COL-XL
                @media #{$screen-xxl} {} //.COL-XXL
                @media #{$content-width-sm} {} //.CONTENT-WIDTH-SM
                @media #{$content-width-lg} {} //.CONTENT-WIDTH-LG
        } //.ELEMENTOR-CTA_BG-OVERLAY

        .elementor-cta__content {
            // GLOBAL
                padding: $padding-sm;

            // MOBILE
                @media #{$screen-xs} {} //.COL-XS
                @media #{$screen-sm} {} //.COL-SM
                @media #{$screen-md} {
                    padding: $padding-sm $padding-md;
                } //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {
                    padding: $padding-sm $padding-md;
                } //.DESKTOP
                @media #{$screen-lg} {} //.COL-LG
                @media #{$screen-xl} {} //.COL-XL
                @media #{$screen-xxl} {
                    padding: $padding-sm $padding-xl;
                } //.COL-XXL
                @media #{$content-width-sm} {} //.CONTENT-WIDTH-SM
                @media #{$content-width-lg} {} //.CONTENT-WIDTH-LG
        } //.ELEMENTOR-CTA_CONTENT

        .elementor-cta__title {
            // GLOBAL
                margin-bottom: $margin-none;
                text-shadow: $shadow-text;

            // MOBILE
                @media #{$screen-xs} {} //.COL-XS
                @media #{$screen-sm} {} //.COL-SM
                @media #{$screen-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$screen-lg} {} //.COL-LG
                @media #{$screen-xl} {} //.COL-XL
                @media #{$screen-xxl} {} //.COL-XXL
                @media #{$content-width-sm} {} //.CONTENT-WIDTH-SM
                @media #{$content-width-lg} {} //.CONTENT-WIDTH-LG
        } //.ELEMENTOR-CTA-TITLE

        .elementor-cta__button-wrapper {
            // GLOBAL
                display: none !important;

            // MOBILE
                @media #{$screen-xs} {} //.COL-XS
                @media #{$screen-sm} {} //.COL-SM
                @media #{$screen-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$screen-lg} {} //.COL-LG
                @media #{$screen-xl} {} //.COL-XL
                @media #{$screen-xxl} {} //.COL-XXL
                @media #{$content-width-sm} {} //.CONTENT-WIDTH-SM
                @media #{$content-width-lg} {} //.CONTENT-WIDTH-LG
        } //.ELEMENTOR-CTA_BUTTON-WRAPPER

    } //.ELEMENTOR-CTA-SKIN-COVER

}